{% extends 'portapp/base.html' %}
{% load static %}

{% block title %} Alex's Portfolio {% endblock %}
{% block content %}
<div class="container text-center mt-5">
    <h1 style="font-size:50px;" class="border-bottom border-dark pb-3">Thats mine portfolio app on Django!</h1>
    <img src="{% static 'portapp/img/_yAaLAwKIGM.jpg' %}" alt="That is Alex" style="width: 350px; height:100%;" class="border border-dark mt-5">
</div>
<div class="container text-center mt-3">
    <h2 style="font-size: 42px;">Навыки AxelMason</h2>
</div>
<div class="container">
    <div class="row">
        {% for project in projects %}
        <div class="col-4">
            <p style="font-size: 24px;" class="text-center">{{ project.title }}</p>
            {% if project.url %}
            <a href="{{ project.url }}" target=”_blank”>
                <img src="{{ project.image.url }}" alt="" style="width:100%" class='image'>
            </a>
            {% else %}
            <img src="{{ project.image.url }}" alt="" style="width:100%"  class='image'>
            {% endif %}
            <br>
            <br>
            <p style="font-size: 16px;" class="text-justify">{{ project.description|truncatechars:100 }} <br><a href="{% url 'project:detail' project.id %}">читать далее...</a></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}